@page "/game-form"
@page "/game-form/{Id:int}"
@using BlazorCrud.Services
@inject IGameService GameService
@inject NavigationManager NavigationManager
@rendermode InteractiveAuto

@if (UpdateGame())
{
    <h3>Edit @Game.Name</h3>
}
else
{
    <h3>Add Game</h3>
}
<EditForm Model="Game" OnSubmit="HandleSubmit" FormName="GameForm">
    <label>Name: </label>
    <InputText @bind-Value=Game.Name>@Game.Name</InputText>
    <input type="submit" class="btn btn-primary" />
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }
    [SupplyParameterFromForm]
    public Game Game { get; set; } = new Game { Name = "" };

    async Task HandleSubmit()
    {
        if (UpdateGame())
            await GameService.UpdateGame(Game);
        else
            await GameService.AddGame(Game);

        NavigationManager.NavigateTo("games");
    }

    bool UpdateGame() => Id > 0;
    
    protected override async Task OnParametersSetAsync()
    {
        if (UpdateGame())
            Game = await GameService.GetGameById(Id);
    }
}
